@import "tailwindcss";

body {
  background: #360606;
  color: #ffffff;
  font-family: var(--font-space-grotesk);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#__next {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
